*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
.metadata/.lock
.metadata/.log
*.log
*.db
*.index
*.resources
.metadata/.plugins/org.eclipse.dltk.core/externalLibsTimeStamps
*.dat
.metadata/.plugins/org.eclipse.dltk.core/customTimeStamps
RemoteSystemsTempFiles/.project

.metadata/version.ini

.metadata/.mylyn/repositories.xml.zip

.metadata/.mylyn/.tasks.xml.zip
