.top_fx{
    float: left;
    height: auto;
    margin: 260px 20px 0 323px;
    padding: 0;
    position: absolute;
    width: 510px;
    z-index: 93;
}

.top_fx2{
    width:auto;
    padding:0px;
    margin:auto ;
    float:left;
    width:auto;
}



.top_fx2 a{
    background-color: rgb(255, 255, 255);
    color: #888787;
    float: left;
    font-family: Georgia;
    font-size:18px;
    font-weight: bold;
    height: 70px;
    line-height: 21px;
    margin: 0 0 0 10px;
    padding: 25px 0 0;
    text-align: center;
    text-decoration: none;
    width: 158px;
    background-image:none;
}

.top_fx2 a:hover{
    color:#fff;
    float: left;
    font-family: Georgia;
    font-size:18px;
    font-weight: bold;
    height: 70px;
    line-height: 21px;
    margin: 0 0 0 10px;
    padding: 25px 0 0;
    text-align: center;
    text-decoration: none;
    width: 158px;
    background-image:url(../img/buttons_active.png);
    background-position:top;
    background-repeat:no-repeat;
}	


.colle{
    width:540px;
    float:left;
    padding:1px 0px 10px 0px ;
    margin:10px 18px;
    height:auto;
    border:5px solid #f4f3eb;
    background-color:#fff;
}	

.all{
    width:100%;
    height:auto;
    padding:0px 0px 0px 0px;
    float:left;
    margin:auto;
}

.all2{
    width:100%;
    padding:0px 0px 0px 0px;
    margin:auto;
}


.card_name{
    background-color: rgb(153, 152, 152);
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 23px;
    font-weight: bold;
    height: auto;
    margin: 0 0 20px;
    padding: 15px 10px;
    text-align: left;
    text-decoration: none;
    width: 340px;
}

.card_name span{
    float:right;
    padding:0px 0px 0px 0px;
    margin:auto;
    font-weight:normal;

}

#medal-symbol {
	position: relative;
	top: 54px;
	left: 300px;
	z-index: 5;
}

.trade{
    background-color: rgb(242, 240, 230);
    color: rgb(159, 158, 158);
    float: left;

    font-size: 22px;
    font-weight: normal;
    margin: 1px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 188px;
}	

.pakeg{
    width:100%;
    height:auto;
    float:right;
    margin:10px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

.pakeg_item	{
    width:72px;
    float:left;
    padding:0px 0px 0px 0px;
    margin:0px 15px 0px 0px;
    height:auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
    color:#888787;
    text-align:center;
}	


.pakeg_item a{
    padding:7px 0px 0px 0px;
    margin:auto;
    text-decoration:none;
    color:#888787;
    text-align:center;
    margin:5px 0px 0px 0px ;

}

.pakeg_item a:hover{
    padding:7px 0px 0px 0px;
    margin:5px 0px 0px 0px ;
    text-decoration:underline;
    color:#888787;
    text-align:center;
}		

.all_pakeg_ph{
    width:95%;
    float:left;
    padding:0px 0px 5px 0px;
    color:#888787;
    border-bottom:1px solid #888787;
    text-decoration:none;
    padding:0px 0px 5px 0px ;
    margin:0px 15px 20px 15px;
}	

.all_pakeg_ph h1{
    background-image: url("../img/photo.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    font-size: 21px;
    font-weight: bold;
    height: auto;
    margin: 0 0 5px;
    padding: 7px 0 0 35px;
    text-align: left;
    text-decoration: none;
    width: 80%;
}		

.all_pakeg_vi{
    width:95%;
    float:left;
    padding:0px 0px 5px 0px;
    color:#888787;
    border-bottom:1px solid #888787;
    text-decoration:none;
    padding:0px 0px 5px 0px ;
    margin:0px 15px 20px 15px;
}	

.all_pakeg_vi h1{
    background-image: url("../img/vid.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    font-size: 21px;
    font-weight: bold;
    height: auto;
    margin: 0 0 5px;
    padding: 7px 0 0 35px;
    text-align: left;
    text-decoration: none;
    width: 80%;
}	

.all_pakeg_mu{
    width:95%;
    float:left;
    padding:0px 0px 5px 0px;
    color:#888787;
    border-bottom:1px solid #888787;
    text-decoration:none;
    padding:0px 0px 5px 0px ;
    margin:0px 15px 20px 15px;
}	

.all_pakeg_mu h1{
    background-image: url("../img/mu.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    font-size: 21px;
    font-weight: bold;
    height: auto;
    margin: 0 0 5px;
    padding: 7px 0 0 35px;
    text-align: left;
    text-decoration: none;
    width: 80%;
}		

.all_pakeg_gam{
    width:95%;
    float:left;
    padding:0px 0px 5px 0px;
    color:#888787;
    border-bottom:1px solid #888787;
    text-decoration:none;
    padding:0px 0px 5px 0px ;
    margin:0px 15px 20px 15px;
}	

.all_pakeg_gam h1{
    background-image: url("../img/gam.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    font-size: 21px;
    font-weight: bold;
    height: auto;
    margin: 0 0 5px;
    padding: 7px 0 0 35px;
    text-align: left;
    text-decoration: none;
    width: 80%;
}

.gold{
    background-image: url("../img/gold.png");
    background-position: right top;
    background-repeat: no-repeat;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 113px;
    line-height: 22px;
    margin: 15px 20px 0 0;
    padding: 21px 150px 25px 0;
    width: 375px;
}

.gold img {
    width:auto;
    height:auto;
    padding:0px;
    margin:auto;
    float:left;
}	

.gold h1{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}

.gold h2{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}
.arrow_gold{
    width:28px;
    float:left;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    height:70px;
    text-align:center;
}


.score_rank{
    background-position: right top;
    background-repeat: no-repeat;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 113px;
    line-height: 22px;
    margin: 15px 20px 0 0;
    padding: 21px 150px 25px 0;
    width: 500px;
}

.score_rank img {
    width:70px;
    height:70px;
    padding:0px;
    margin:auto;
    float:left;
}	

.score_rank h1{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
}

#medal-type h1{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
}

.score_rank h2{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}
.arrow_score_rank{
    width:28px;
    float:left;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    height:70px;
    text-align:center;
}

.silver{
    background-image: url("../img/silver.png");
    background-position: right top;
    background-repeat: no-repeat;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 113px;
    line-height: 22px;
    margin: 0 0 0 39px;
    padding:19px 0 25px 144px;
    width: 375px;
}

.silver img {
    width:auto;
    height:auto;
    padding:0px;
    margin:auto;
    float:left;
}	

.silver h1{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}

.silver h2{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}
.silver_gold{
    width:28px;
    float:left;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    height:70px;
    text-align:center;
}

.bronz{
    background-image: url("../img/bronz.png");
    background-position: right top;
    background-repeat: no-repeat;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 113px;
    line-height: 22px;
    margin: 15px 20px 0 0;
    padding: 21px 150px 25px 0;
    width: 375px;
}

.bronz img {
    width:auto;
    height:auto;
    padding:0px;
    margin:auto;
    float:left;
}	

.bronz h1{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}

.bronz h2{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}
.arrow_bronz{
    width:28px;
    float:left;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    height:70px;
    text-align:center;
}

.king{
    background-image: url("../img/king.png");
    background-position: right top;
    background-repeat: no-repeat;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 113px;
    line-height: 22px;
    margin: 15px 20px 0 0;
    padding: 21px 150px 25px 0;
    width: 375px;
}

.king img {
    width:auto;
    height:auto;
    padding:0px;
    margin:auto;
    float:left;
}	

.king h1{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}

.king h2{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}
.arrow_king{
    width:28px;
    float:left;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    height:70px;
    text-align:center;
}

.queen{
    background-image: url("../img/queen.png");
    background-position: right top;
    background-repeat: no-repeat;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 113px;
    line-height: 22px;
    margin: 15px 20px 0 0;
    padding: 21px 150px 25px 0;
    width: 375px;
}

.queen img {
    width:auto;
    height:auto;
    padding:0px;
    margin:auto;
    float:left;
}	

.queen h1{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}

.queen h2{
    float: left;
    font-size: 12px;
    margin: 11px 0 0 33px;
    padding: 0;
    text-align: center;
    width: 108px;
    height: 26px;
}
.arrow_queen{
    width:28px;
    float:left;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    height:70px;
    text-align:center;
}
.scor_tab{
    width:540px;
    float:left;
    margin:30px 0px 10px 20px;
    padding:0px 0px 0px 0px;
    height:auto;
    background-image:url(../img/bg_tab.png);
    background-position:top;
    background-repeat:repeat;
}	
.message_no{
    width:63px;
    background-image: url("../img/messages.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 65px;
    margin: 6px 17px 0;
    padding:6px 10px 0 33px;
    width: 69px;
}	

.tabs_page{
    width:100%;
    padding:0px 0px 0px 0px;
    margin:1px 0px 1px 0px;
    height:auto;
    background: url("../img/category_background.png") no-repeat scroll 0 16px / 362px 720px rgba(0, 0, 0, 0);
}	

.tabs_page_name{
    background-color:#fff;
    float:left;
    padding:0px 0px 0px 0px;
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#888787;
    width:362px;
}	

.admin_page{
    width:100%;
    height:auto;
    padding:0px 0px 0px 0px;
    float:left;
    margin:100px 0px 20px 0px;
}

.admin_top{
    width:385px;
    float:left;
    padding:0px 0px 0px 0px;
    margin:20px 0 0;
}

.wight_box{
    background-color:#ffffff;
    padding:10px;
    margin:0 0 15px;
    float:left;
    width:365px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    color:#888787;
}


.wight_box input{
    width:100%;
    height:20px;
    border:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#888787;
    background-color:#fff;
}	

.wight_box a{
    text-decoration:underline;
    color:#888787;
}	

.wight_box a:hover{
    text-decoration:none;;
}	

.wight_box2{
    background-color:#ffffff;
    padding:10px;
    margin:0 0 15px;
    float:left;
    width:290px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    color:#888787;
}

.wight_box2 input{
    width:100%;
    height:15px;
    border:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    color:#888787;
    background-color:#fff;
}	


.select_ad{
    background-color: rgb(255, 255, 255);
    border: 0 none;
    color: rgb(119, 119, 119);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 41px;
    margin: 0;
    padding: 10px 0 7px;
    width: 60px;
}	

.title_w{
    width:960px;
    height:auto;
    padding:10px;
    margin:10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:rgb(136, 135, 135);
    float:left;
    background-color:#fff;
}	

.round{
    width:116px;
    float:left;
    padding:0px 0px 0px 0px;
    margin: 0px 18px 0px 0px;
    height:150px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height:34px;
    text-align: center;
}	

.round a{
    text-decoration:none;
    color:rgb(136, 135, 135);
}						
.round a:hover{
    text-decoration:underline;
    color:rgb(136, 135, 135);
}	
.gold_no{
    background-image: url("../img/gold_1.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 50px;
    font-weight: bold;
    height: 122px;
    line-height: 35px;
    margin: 0;
    padding: 41px 0 0;
    text-align: center;
    text-decoration: none;
    width: 122px;
}	
.gry_no{
    background-image: url("../img/gry.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 50px;
    font-weight: bold;
    height: 122px;
    line-height: 35px;
    margin: 0;
    padding: 41px 0 0;
    text-align: center;
    text-decoration: none;
    width: 122px;
}		

.pronz_no{
    background-image: url("../img/pronz.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 50px;
    font-weight: bold;
    height: 122px;
    line-height: 35px;
    margin: 0;
    padding: 41px 0 0;
    text-align: center;
    text-decoration: none;
    width: 122px;
}

.title_t{
    width:960px;
    height:auto;
    padding:10px;
    margin:10px 0px 0px 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:rgb(136, 135, 135);
    float:left;
    background-color:#fff;
}	

.card_bg{
    width:960px;
    height:auto;
    margin:0px 0px 0px 0px;
    background-image:url(../img/bg_form.png);
    background-position:top;
    background-repeat:repeat-y;
    padding:15px 50px;
    float:left;
}	

.card_bg h1{
    width:100%;
    height:auto;
    padding:0px 0px 0px 0px;
    margin:20px 0px 20px 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: normal;
    color:rgb(136, 135, 135);
}

a.add_new{
    font-size:20px;
    text-align:center;
    text-decoration:underline;
    color:rgb(136, 135, 135);
    margin:10px 0px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
}	
a.add_new:hover{
    font-size:20px;
    text-align:center;
    text-decoration:none;
    color:rgb(136, 135, 135);
    margin:10px 0px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;

}

.scor_tab_1{
    width:858px;
    float:left;
    margin:30px 0px 10px 20px;
    padding:0px 0px 0px 0px;
    height:auto;
    background-image:url(../img/bg_tab.png);
    background-position:top;
    background-repeat:repeat;
}

.select_mes {
    background-color: rgb(255, 255, 255);
    border: 0 none;
    color: rgb(119, 119, 119);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: normal;
    height: 41px;
    margin: 0;
    padding: 10px 0 7px;
    width: 100px;
}								

.mas_t{
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    font-weight:normal;
    text-decoration:none;
    width:100%;
    float:left;
    margin:0px 0px 20px 0px;
    padding:0px;
    text-align:left;
}

.mes_bg{
    width:672px;
    height:auto;
    background-color:#fff;
    border:1px solid #000;
    float:left;
    padding:0px ;
    margin:0px 0px 0px 0px;
}

.area_mes{
    background-color: rgb(255, 255, 255);
    border: 0 none;
    color: rgb(119, 119, 119);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size:15px;
    font-weight: normal;
    height:125px;
    margin: 0;
    padding: 10px;
    width: 670px;	
    border-bottom:1px solid #c8c6c6;	
}

.mes_submit{
    width:24px;
    height:22px;
    background-image:url(../img/mes_sub.jpg);
    background-position:top;
    background-repeat:no-repeat;
    border:0px;
    margin:5px 10px 5px 0px;
    float:right;
}	

.scor_tab_2 {
    background-image: url("../img/bg_tab.png");
    background-position: center top;
    background-repeat: repeat;
    float: left;
    font-size: 77px;
    height: auto;
    padding: 0;
    width: 353px;
}	
.chat{
    width:100%;
    height:auto;
    padding:0px 0px 0px 0px;
    float:left;
    margin:0px 0px 20px 0px;
}
.bg_chat_page {
    background-image: url("../img/bg_chat1.png");
    background-position: left center;
    background-repeat: repeat-y;
    float: left;
    height: auto;
    margin: 20px 0px 20px 0px;
    padding: 0;
    width: 100%;
}

.bg_chat_page h1{
    background-color: rgb(255, 255, 255);
    color: rgb(136, 135, 135);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    height: auto;
    margin:0px 0px 20px 0px;
    padding: 10px 0 10px 10px;
    text-align: left;
    width: 362px;
}

.bg2_chat_page {
    background-image: url("../img/bg_chat2.png");
    background-position: left center;
    background-repeat: repeat;
    float:left;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding:20px;
    width:580px;
    border-right:1px solid #fff;
    background-repeat:repeat;
    border-bottom:1px solid #fff;
    border-left:none;
    border-top:1px solid #fff;

}

.left_slide{
    width:380px;
    height:auto;
    padding:0px 0px 0px 0px;
    margin:0 auto;
    float:left;
}

.left_slide a{
    width:380px;
    color:#343333;
    height:auto;
    padding:10px 10px 10px 20px  ;
    margin:0 auto;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:normal;
    text-decoration:none;
    color:#363636;
    border-bottom:1px solid transparent;
    border-left:1px solid transparent;
    border-top:1px solid transparent;
    border-right:1px solid #fff;
}

.left_slide a:hover{
    width:380px;
    color:#343333;
    height:auto;
    padding:10px 10px 10px 20px  ;
    margin:0 auto;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:normal;
    text-decoration:none;
    color:#363636;
    background-image:url(../img/bg_chat2.png);
    background-position:top;
    background-repeat:repeat;
    border-bottom:1px solid #fff;
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid transparent;
}	

a.chat_activ {
    width:380px;
    color:#343333;
    height:auto;
    padding:10px 10px 10px 20px  ;
    margin:0 auto;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:normal;
    text-decoration:none;
    color:#363636;
    background-image:url(../img/bg_chat2.png);
    background-position:top;
    background-repeat:repeat;
    border-bottom:1px solid #fff;
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid transparent;
}

a.chat_activ:hover{
    width:380px;
    color:#343333;
    height:auto;
    padding:10px 10px 10px 20px  ;
    margin:0 auto;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:normal;
    text-decoration:none;
    color:#363636;
    background-image:url(../img/bg_chat2.png);
    background-position:top;
    background-repeat:repeat;
    border-bottom:1px solid #fff;
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid transparent;
}	


.clock{
    font-size:13px;
    width:auto;
    margin:0 20px 0 0;
    padding:0px ;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
}	

.line_chat_1{
    width:100%;
    float:left;
    padding:0px 0px 0px 0px;
    height:auto;
    background-position:48px 0px;
    background-image:url(../img/line_2.jpg);
    background-repeat:repeat-y;
    margin:auto;
}	

.mes_chat{
    width:100%;
    float:left;
    padding:0px 0px 0px 0px;
    margin:0px 0px 20px 0px;
    height:auto;
}	

.chat_pic{
    width:150px;
    float:left;
    margin:0px 0px 0px 0px;
    height:auto;
    padding:0px 0px 0px 0px;
    background-position:0px 51px;
    background-image:url(../img/line_1.jpg);
    background-repeat:repeat-x;
    text-align:left;
}

.chat_clock {
    background-image: url("../img/line_1.jpg");
    background-position: 0 21px;
    background-repeat: repeat-x;
    float: left;
    margin: 0 0 0 25px;
    padding: 0;
    text-align: left;
    width: 126px;
}	

.message_box {
    background-image: url("../img/bg_chat2.png");
    background-position: left center;
    background-repeat: repeat;
    color: rgb(52, 51, 51);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 36px;
    margin: 0 0 10px;
    min-height: 110px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    width: 380px;
}

.message_clock {
    background-image: url("../img/bg_chat2.png");
    background-position: left center;
    background-repeat: repeat;
    color: rgb(52, 51, 51);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 36px;
    margin: 0 0 10px;
    padding:5px 10px;
    text-align: left;
    text-decoration: none;
    width: 380px;
}


.chat_area_bg{
    width:527px;
    height:auto;
    background-color:#fff;
    border:1px solid #000;
    float:left;
    padding:0px ;
    margin:50px 0px 0px 0px;
}

.area_chat{
    background-color: rgb(255, 255, 255);
    border: 0 none;
    color: rgb(119, 119, 119);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size:15px;
    font-weight: normal;
    height:70px;
    margin: 0;
    padding: 10px;
    width:525px;	
    border-bottom:1px solid #c8c6c6;	
} 


.view_card_all{
    width:100%;
    height:auto;
    padding:0px 0px 0px 0px;
    float:left;
    margin:0px 0px 0px 7px;
}

.view_card{
    width:260px;
    height:328px;
    float:left;
    margin:10px;
    padding:10px;
    /*background-color:#fff;*/
}	

.view_card .grid-header{
    background-color:  rgba(255, 255, 255,.5);
    height: 38px;
    color: #fff;
    position: absolute;
    width: 241px;
    text-align: center;
    padding-top: 13px;
    font-size: 14px;
    font-weight: bold;
}

.view_card .grid-card-name{
    width: 50%;
    text-align: center;
    float: left;
    border-right: 2px solid #FFF;
    opacity: 1;
}
.view_card .grid-card-point{

}
.view_card_get{
    width: 240px;
    height: 307px;
    position: absolute;
    z-index: 1000;
}
.view_card_get:hover{
    width: 240px;
    height: 307px;
    position: absolute;
    z-index: 1000;

    background-image:url('../img/get_button.png');
    background-position:center;
    background-repeat:no-repeat;
    background-color: #fff ;
    opacity: 0.9;
}
a.see{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
    color:#006;
    text-align:center;
}

a.see:hover{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
    text-decoration:underline;
    color:#006;
    text-align:center;
}

.space{
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 10px 0 0 5px;
    padding: 10px;
    width: 350px;
}	

.bg_my{
    background-image: url("../img/bg_my.png");
    background-position: center 70px;
    background-repeat: repeat-x;
    float: left;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 958px;
    z-index: -2147483648;
}			